.custom-password-input-component {
    width: 400px;
    height: 60px;

    display: flex;

    border: #C1BBBB 1px solid;
}

.custom-password-input-rectangle-transparent {
    width: 3px;
    height: 60px;

}
.custom-password-input-rectangle {
    width: 3px;
    height: 60px;
    background: #F85A40;
}

.custom-password-input-container {
    padding-top: 4px;
    text-align: start;
}
.custom-password-input-label {
    margin-left: 10px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    color: #757272;
}
.custom-password-input-input {
    margin-left: 10px;

    width: 350px;
    height: 35px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    color: #2AB19F;

    border: none;
    border-radius: 5px;
    background: none;
}
.custom-password-input-input:focus {
    outline: none;
}

.custom-password-input-position {
    display: flex;
    justify-content: space-between;
}
.eye {
    padding-top: 10px;
    padding-right: 15px;

    cursor: pointer;
}

